{% extends 'base.html' %}
{% block title %}혼싸{% endblock %}
{% block content %}
<section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div style="font-size: 30px; padding: 10px 0px; font-weight: bold;">
            자주하는 질문
        </div>
        <div style="text-align: right;">
            <span><a href="../" style="border: 1px solid #aaa; padding: 5px;">뒤로가기</a></span>
        </div>
        <div style="border: 1px solid #999; margin: 5px 0px; padding: 5px;">
            <p style="font-size: 18px;font-weight: bold;margin-bottom: 5px;">Q. 배송 비는 얼마인가요?</p>
            <p style="padding: 0px 0px 15px 15px;color: #777;">→ 상품의 주문 총 금액이 10만원 이상인 경우 무료배송, 10만원 미만인 경우 배송 비 5,000원이 부과됩니다.</p>
            <p style="font-size: 18px;font-weight: bold;margin-bottom: 5px;">Q. 상품을 반품하고 싶어요.</p>
            <p style="padding: 0px 0px 15px 15px;color: #777;">→ 배송완료 후 7일 이내 가능하며, 주문내역조회에서 반품신청을 할 수 있습니다.</p>
            <p style="font-size: 18px;font-weight: bold;margin-bottom: 5px;">Q. 다른 사람 명의의 계좌로 환불받을 수 있나요>?</p>
            <p style="padding: 0px 0px 15px 15px;color: #777;">→ 고객님 본인 명의의 계좌로만 환불이 가능합니다.</p>
            <p style="font-size: 18px;font-weight: bold;margin-bottom: 5px;">Q. 배송 지 변경을 어떻게 하나요?</p>
            <p style="padding: 0px 0px 15px 15px;color: #777;">→ 결제 완료 페이지에서 [배송정보수정] 버튼 클릭 후 [배송지 변경]을 눌러 수정할 수 있습니다.</p>
            <p style="font-size: 18px;font-weight: bold;margin-bottom: 5px;">Q. 상품이 오지 않았는데 어떻게 하나요?</p>
            <p style="padding: 0px 0px 15px 15px;color: #777;">→ 해당 상품의 [배송조회] 버튼을 눌러 송장번호를  검색한 뒤  택배 사에 문의 바랍니다.</p>
            <p style="padding: 0px 0px 15px 15px;color: #777;">→ 배송 일이 지나도 상품이 도착하지 않을 경우 고객센터로 연락 주시면 확인해 드리겠습니다.</p>
            <p style="font-size: 18px;font-weight: bold;margin-bottom: 5px;">Q. 아이디(ID)와 비밀번호(Password)를 잊어버렸어요. 어떻게 확인하나요?</p>
            <p style="padding: 0px 0px 15px 15px;color: #777;">→ 회원로그인 화면에서 [아이디 찾기]를 통하여 확인 할 수 있습니다.</p>
            <p style="padding: 0px 0px 15px 15px;color: #777;">→ 회원로그인 화면에서 [비밀번호 찾기]를 통하면 확인 할 수 있습니다.</p>
            <p style="font-size: 18px;font-weight: bold;margin-bottom: 5px;">Q. 이미 주문을 했는데, 결제 수단을 변경할 수 있나요?</p>
            <p style="padding: 0px 0px 15px 15px;color: #777;">→ 결제완료 이후에는 결제수단 변경은 가능하지 않습니다. 판매중인 상품일 경우 주문 취소 후 원하시는 결제수단으로 다시 한번 구매하여 주시기 바랍니다.</p>
            <p style="font-size: 18px;font-weight: bold;margin-bottom: 5px;">Q. 고객센터 운영시간은 어떻게 되나요?</p>
            <p style="padding: 0px 0px 15px 15px;color: #777;">→ 혼싸 고객센터는 AM 10:00 ~ PM 07:00 까지 운영됩니다.</p>
        </div>
    </div>
</section>
{% endblock %}