{% extends 'base.html' %}
{% block title %}혼싸{% endblock %}
{% block content %}
<!--content-->
<section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div style="font-size: 30px; padding: 10px 0px; font-weight: bold;">
            고객센터
        </div>
        <div style="text-align: right;">
            <span><a href="m2m/" style="border: 1px solid #aaa; padding: 5px;">1:1 문의하기</a></span>
            <span><a href="faq/" style="border: 1px solid #aaa; padding: 5px;">자주하는질문</a></span>
        </div>
        <div style="background: #eee;margin: 10px;padding: 10px;border-top: 3px solid #999;border-bottom: 3px solid #999;">
            <div style='font-size: 20px; font-weight: bold; padding: 5px 0px;'>1:1 문의하기 규정</div>
            <div style="background: #fff;padding: 5px">
                <p style="font-size: 15px; font-weight: 600; margin: 5px;">개인정보 수집</p>
                <p style="margin: 5px;">1. 수집 항목</p>
                <p style="margin: 5px 20px; color: #aaa;">이름, 아이디</p>
                <p style="margin: 5px;">2. 목적</p>
                <p style="margin: 5px 20px; color: #aaa;">문의/신고(반품,교환)접수 및 결과 회신</p>
                <p style="margin: 5px;">3. 이용 기간</p>
                <p style="margin: 5px 20px; color: #aaa;">원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다.</p>
                <p style="margin: 5px 20px; color: #aaa;">단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 아래와 같이 관계법령에서 정한 일정 기간동안 개인정보를 보관할 수 있습니다.
                - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)</p>
            </div>
        </div>
        <div style="background: #eee;margin: 10px;padding: 10px;border-top: 3px solid #999;border-bottom: 3px solid #999;">
            <div style='font-size: 20px; font-weight: bold; padding: 5px 0px;'>자주 하는 질문</div>
            <div style="background: #fff;padding: 5px">
                <p style="font-size: 15px; font-weight: 600; margin: 5px;">배송비는 얼마인가요?</p>
                <p style="margin: 5px 20px; color: #aaa;">저희 혼싸 배송 상품의 경우 주문 총 금액이 3만원 이상인 경우 무료배송, 3만원미만인 경우 배송료 3,000원이 부과됩니다.</p>
                <p style="font-size: 15px; font-weight: 600; margin: 5px;">아이디(ID)와 비밀번호(Password)를 잊어버렸어요. 어떻게 확인하나요?</p>
                <p style="margin: 5px 20px; color: #aaa;">→ 회원로그인 화면에서 [아이디 찾기]를 통하여 확인 할 수 있습니다.
                <p style="margin: 5px 20px; color: #aaa;">→ 회원로그인 화면에서 [비밀번호 찾기]를 통하면 확인 할 수 있습니다.
            </div>
        </div>
        <div style="background: #eee;margin: 10px;padding: 10px;border-top: 3px solid #999;border-bottom: 3px solid #999;">
            <div>
                <span style="font-size: 20px; font-weight: bold;">고객센터 연락처</span>
                <span style="background: #fff; display: inline-block; width: 80%; font-size: 18px; font-weight: 500; padding: 3px 15px">xx-xxxx-xxxx(xxxx)</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}