{% extends 'base.html' %}
{% load static %}
{% block title %}혼싸{% endblock %}
{% block content %}
       <section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
               <div class="shop_inner_inf">
                  <div class="privacy about">
                     <h3>주문완료</h3>
                     <div class="checkout-right">
                        <h4>총 주문한 상품: <span>3개의 상품</span></h4>
                        <table class="timetable_sub">
                           <thead>
                              <tr>
                                 <th>No</th>
                                 <th>내역</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="rem1">
                                 <td class="invert">총 상품 가격</td>
                                 <td class="invert">286,000원</td>
                              </tr>
                              <tr class="rem1">
                                 <td class="invert">할인</td>
                                 <td class="invert">0원</td>
                              </tr>
                               <tr class="rem1">
                                 <td class="invert">배송비</td>
                                 <td class="invert">0원</td>
                              </tr>
                               <tr class="rem1">
                                 <td class="invert">총 결제 금액</td>
                                 <td class="invert">286,000원</td>
                              </tr>
                                 <tr class="rem1">
                                 <td class="invert">배송정보</td>
                                 <td class="invert">이름:혼싸 / 배송지:왕십리 / 배송요청사항:문 앞</td>
                              </tr>
                                <tr class="rem1">
                                 <td class="invert">배송상태</td>
                                 <td class="invert">상품 준비중</td>
                              </tr>
                                <tr class="rem1">
                                 <td class="invert">배송조회</td>
                                 <td><button class="">배송조회</button></td>
                              </tr>
                           </tbody>
                        </table>
                           <div class="checkout-right-basket">
                              <a href="/honssa/cart/pay/">이전 페이지</a>
                              <a href="404.html">마이페이지</a>
                           </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
{% endblock %}