{% load static %}

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>회원가입</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    </head>
    <body class="login" style="background-image: url({% static 'assets/img/honssamain.png' %});">
        <div class="login">
            <form action ="#" method = "POST">
                {% csrf_token %}
                <p>
                    <label for="name">이름:</label><br>
                    <input id = "name" type="text" name = "username">
                </p>
                <p> <label for="email">이메일:</label><br>
                    <input id = "email" type="email"  name = "useremail">
                </p>
                <p> <label for="id">아이디:</label><br>
                    <input id = "id" type="text"  name = "user_id">
                </p>
                <p> <label for="password">비밀번호:</label><br>
                    <input id = "password" type="password"  name = "password">
                </p>
                <p> <label for="password2">비밀번호 확인:</label><br>
                    <input id = "password2" type="password"  name = "password2">
                </p>
                <p>
                    <label>휴대전화</label><br>
                    <input type="tel" name = hpon>
                </p>
                <input type ="submit" style="width: 80px;margin: 0px 2px;" value="가입하기" >
                <a href = "{% url 'user:logout' %}"><input type="button" style="width: 80px;margin: 0px 2px;" value="뒤로가기"></a>
            </form>
        </div>
    </body>
</html>